<h1>Bienvenidos al CoderChat comunitario!</h1>
<div>
    <input id="chatBox"> <!-- Seria la caja para escribir nuestro msj -->
</div>
<div>
    <p id="messageLogs"></p> <!-- Para colocar los msj que van llegando -->
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>